{% if admin.hasRoute('statistics') and admin.hasAccess('list') %}
    <li>
        <a class="sonata-action-element" href="{{ admin.generateUrl('statistics') }}" title="Statistiques globales des porteurs de projet">
            <i class="fa fa-bar-chart" aria-hidden="true"></i>
            Statistiques
        </a>
    </li>
{% endif %}
