<!-- BEGIN FOOTER -->
<footer id="footer">
  <div class="top"></div>

  <div id="footer-top" class="container">
    <div class="row">

      <div class="block col-xs-6 col-md-6 col-lg-6">
        <div class="row">

          <div class=" col-sm-10 logo">
              <a href="https://www.plateau-urbain.com/" target="_blank" class="logo-footer"><img src="{{ asset('images/logo-footer.png') }}" alt="Plateau Urbain"/></a>
            <p class="pu">
             Coopérative d’urbanisme temporaire et transitoire, Plateau Urbain propose des espaces de travail abordables, dans des lieux vivants et créatifs, et mène des activités de conseil et d’accompagnement.
            </p>

            <p class="small">
            <a href="https://plateforme.plateau-urbain.com/cgu">©️ Plateau Urbain 2023 · mentions légales</a>
            </p>
          </div>
        </div>
      </div>


      <div class="block col-xs-3 col-md-4 col-lg-4 ">

        <div class="row row-contact">

          <div class=" col-xs-12 col-md-12 order-xs-2">
         {#    <h6>Nous contacter</h6> #}
            <ul class="list-unstyled infos">
         
                <li>lu-ven 9h-13h / 14h-19h</li>
                <li><a href="mailto:contact@plateau-urbain.com">contact@plateau-urbain.com</a></li>
                </ul>
             <ul class="list-unstyled infos">
                <li>SCIC SA à Directoire</li>
                <li>16 bld Saint-Germain CS 7014</li>
                <li>75237 PARIS Cedex 05</li>
                </ul>
          </div>

          <div class=" col-xs-12 col-md-8 reseaux ">
         <h5>Suivez la vie de la coopérative sur les réseaux</h5>
            <ul class="list-inline">
              <li><a href="https://www.facebook.com/plateau.urbain/" target="_blank" class="fb"></a></li>
              <li><a href="https://twitter.com/plateauurbain" target="_blank" class="tw"></a></li>
              <li><a href="https://www.linkedin.com/company/plateau-urbain" target="_blank" class="linkedin"></a></li>
              <li><a href="https://www.instagram.com/plateau.urbain/" target="_blank" class="insta"></a></li>
            </ul>
           
          </div>
        </div>
      </div>

       <div class="block col-xs-3 col-md-2 col-lg-2">
        <div class="row row-menu">

          <div class=" col-sm-12">
            <ul class="footer-links">
            <li><a href="https://www.plateau-urbain.com/tiers-lieux/actualites-des-lieux/" >Actualités</a></li>
                <li><a href="https://www.plateau-urbain.com/notre-accompagnement/">Notre offre</a></li>
                <li><a href="https://www.plateau-urbain.com/tiers-lieux/nos-projets/">Les tiers-lieux</a></li>
                <li><a href="https://www.plateau-urbain.com/on-parle-de-nous/">On parle de nous</a></li>
                <li><a href="https://www.welcometothejungle.com/fr/companies/plateau-urbain" target="_blank">On recrute</a></li>
                <li><a href="https://www.plateau-urbain.com/la-cooperative-plateau-urbain/ressources/">Ressources</a></li>
                 <li><a href="https://www.plateau-urbain.com/contactez-nous/" >Contact</a></li>
        
            </ul>
          
          </div>


         
        </div>
      </div>


    </div>
  </div>


  <!-- BEGIN COPYRIGHT -->
{#   <div id="copyright">
    <div class="top"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <ul class="list-inline">
            <li>&copy; {{ "now"| date("Y") }} Plateau Urbain</li>
            <li><a href="{{path('cgu')}}">Conditions générales d'utilisation et Mentions légales</a></li>
            <li><a class="normal" href="https://github.com/Plateau-Urbain/Plateau-Urbain">Développement</a></li>
	        <li>Maintenance & Hébergement : <a class="normal" href="https://asso.libratoi.org/">Libre à Toi</a> - <a href="https://24eme.fr/">24eme</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div> #}
  <!-- END COPYRIGHT -->

</footer>
<!-- END FOOTER -->
