{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block title %}Aide - Filtres et Export{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">
                    <i class="fa fa-question-circle"></i> Comment utiliser les filtres et l'export personnalisé
                </h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <h4><i class="fa fa-filter text-primary"></i> Étape 1 : Appliquer des filtres (optionnel)</h4>
                        <ol>
                            <li>Dans la liste des candidatures, cliquez sur <strong>"Filtres"</strong> en haut à droite</li>
                            <li>Un panneau s'ouvre avec tous les filtres disponibles :
                                <ul>
                                    <li>Nom du projet</li>
                                    <li>Statut (Brouillon, Non lue, En attente, Accepté, Refusé)</li>
                                    <li>Sélectionné (Oui/Non)</li>
                                    <li>Catégorie</li>
                                    <li>Porteur de projet</li>
                                    <li>Espace</li>
                                    <li>Date de création (plage)</li>
                                    <li>Date d'entrée souhaitée (plage)</li>
                                    <li>Surface souhaitée</li>
                                    <li>Ouvert au projet collectif</li>
                                </ul>
                            </li>
                            <li>Remplissez les filtres souhaités</li>
                            <li>Cliquez sur <strong>"Filtrer"</strong></li>
                        </ol>
                        
                        <div class="alert alert-info">
                            <i class="fa fa-lightbulb-o"></i> 
                            <strong>Astuce :</strong> Les filtres appliqués seront automatiquement pris en compte lors de l'export !
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <h4><i class="fa fa-download text-success"></i> Étape 2 : Exporter avec choix des colonnes</h4>
                        <ol>
                            <li>Une fois vos filtres appliqués (ou pas), cliquez sur le bouton vert <strong>"Export personnalisé"</strong></li>
                            <li>Une page s'ouvre avec tous les champs disponibles organisés par catégorie</li>
                            <li>Sélectionnez les champs que vous souhaitez dans votre export :
                                <ul>
                                    <li>Cochez individuellement les champs souhaités</li>
                                    <li>Ou utilisez "Tout sélectionner" pour une catégorie</li>
                                    <li>Ou utilisez "Tout sélectionner" global en haut</li>
                                </ul>
                            </li>
                            <li>Cliquez sur <strong>"Exporter les candidatures"</strong></li>
                            <li>Le fichier CSV est téléchargé automatiquement</li>
                        </ol>
                        
                        <div class="alert alert-success">
                            <i class="fa fa-check"></i> 
                            <strong>Résultat :</strong> Vous obtenez un fichier CSV avec uniquement les colonnes sélectionnées et les candidatures filtrées !
                        </div>
                    </div>
                </div>
                
                <hr>
                
                <h4><i class="fa fa-list"></i> Exemples d'utilisation</h4>
                
                <div class="row">
                    <div class="col-md-4">
                        <div class="info-box bg-aqua">
                            <span class="info-box-icon"><i class="fa fa-users"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Candidatures en attente</span>
                                <span class="info-box-number">Filtre : Statut = "En attente"</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="info-box bg-green">
                            <span class="info-box-icon"><i class="fa fa-check"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Candidatures acceptées</span>
                                <span class="info-box-number">Filtre : Statut = "Accepté"</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="info-box bg-yellow">
                            <span class="info-box-icon"><i class="fa fa-calendar"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Par période</span>
                                <span class="info-box-number">Filtre : Date de création</span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <h5>Exemple complet :</h5>
                        <div class="well">
                            <p><strong>Besoin :</strong> Exporter les coordonnées des candidatures acceptées en 2025 pour un espace spécifique</p>
                            <p><strong>Action :</strong></p>
                            <ol>
                                <li><strong>Filtrer :</strong> Statut = "Accepté" + Date = "01/01/2025 au 31/12/2025" + Espace = "Mon Espace"</li>
                                <li><strong>Exporter :</strong> Sélectionner uniquement : Nom du projet, Porteur, Email, Téléphone, Structure</li>
                            </ol>
                            <p><strong>Résultat :</strong> CSV avec 5 colonnes et uniquement les candidatures acceptées en 2025 de l'espace sélectionné ✅</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="box-footer">
                <a href="{{ admin.generateUrl('list') }}" class="btn btn-primary">
                    <i class="fa fa-arrow-left"></i> Retour à la liste des candidatures
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
