{% extends "base.html.twig" %}

{# {% block breadcrumb_items %} 
<li>
    <span>Conditions générales d'utilisation</span>
</li>
{% endblock %}#}


{% block body %}
<div class="white"> 
        <div class="container"> 
          <div class="col-sm-12 ">
            <div class="titre-page-hr">
              <h1 >Mentions légales</h1>
        </div>
</div>
<div class="main col-sm-12 content-text">
<h5 class="cgu-title">ÉDITEUR</h5>
    
    <p> Plateau Urbain - société coopérative d’intérêt collectif de forme société anonyme à conseil de surveillance et à capital variable</p>
    <p>16, Boulevard Saint Germain CS 70514</p>
    <p>75237 Paris cedex 05</p>
    <p>Carte professionnelle CPI 7501 2019 000 041 003 - NUI 803 939 115</p>
    <p>délivrée par la CCI Ile-de-France</p>
    <p>Transaction sur immeubles et fonds de commerce - Gestion immobilière</p>


<h5 class="cgu-title">RESPONSABILITÉ ÉDITORIALE</h5>

<p><strong>Directeurs de la publication :</strong> Simon LAISNEY, Mathias ROUET, Angèle DE LAMBERTERIE</p>
<p>Traitement des données à caractère personnel</p>
<p>L’éditeur s’engage à protéger les informations personnelles laissées par les visiteurs du site Internet http://www.plateau-urbain.com/. Il peut fournir des statistiques globales concernant les visiteurs de ce site, des données analysant leur profil et d’autres informations à des tiers relatives à ce site ; toutefois, ces statistiques ne comporteront en aucun cas des informations permettant l’identification des personnes.</p>
<p><a href="https://www.plateau-urbain.com/">https://www.plateau-urbain.com/</a> ne recueille et ne traite de données à caractère personnel qu’à la suite de leur communication volontaire par les participants afin de leur permettre de contribuer sur le site ; recevoir une réponse à une question adressée via le formulaire de contact ; être contacté par courrier électronique afin d’être tenu informés de l’actualité de la plateforme de mise en relation.<p>
<p>Conformément aux dispositions de la loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, les participants disposent d’un droit d’accès, de modification, de rectification et de suppression des données qui les concernent.</p>

<p>Ce droit s’exerce, en justifiant de son identité :</p>
<ul>
<li>Par voie postale : Plateau Urbain, 16, Boulevard Saint Germain CS 70514 75237 Paris cedex 05</li>

<li>Par courrier électronique : <a href="mailto:contact@plateau-urbain.com">contact@plateau-urbain.com</a></li>
</ul>

<h5 class="cgu-title">CRÉDITS PHOTOS</h5>

<p>Page d'accueil : oeuvre de Leonard Thoyer </p>
</div>
</div>
{% endblock %}



