{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <h1>Espace Propriétaire</h1>
        <p>Cette page est en cours de restructuration dans le cadre de la migration.</p>
    </div>
{% endblock %}
