{% extends "bundles/FOSUserBundle/views/layout.html.twig" %}

{% block fos_user_content %}
<div class="row-flex">
        <div class="login-page  col-xs-12 col-md-6">
           <div class="colorBox-content registration">
             <img class="icon" src="{{ asset('/bundles/app/images/lock_icon.png') }}" alt="" />
<h4>Mot de passe oublié</h4>
<p>
    Si un compte correspond à l'adresse indiquée, un email contenant un lien de réinitialisation vient d'être envoyé.<br>
    Ce lien expire dans {{ tokenLifetimeHours }} heures.<br>
    Pensez à vérifier votre dossier de courriers indésirables.
</p>
</div>
    </div>
    <div class="col-xs-12 col-md-6 sans-marge">
        <img src="" id="image" alt="" />
    </div>
</div>
<script type="text/javascript">
    (function randomImg(){
        var tabImg = ["village-reille.jpg", "asnieres.jpg", "opale.jpg", "opale-1.jpg"];
        var imgEl = document.getElementById('image');
        if (imgEl) {
            imgEl.src = '/bundles/app/images/' + tabImg[Math.floor(Math.random() * tabImg.length)];
        }
    })();
</script>
{% endblock %}
