{% extends "bundles/FOSUserBundle/views/layout.html.twig" %}

{% block fos_user_content %}
{% embed 'Partials/_auth_split_layout.html.twig' %}
{% block auth_body %}
<div class="login-page">
    <div class="colorBox-content registration" style="background: rgba(255, 255, 255, 0.9); padding: 30px; border-radius: 8px;">
        <img class="icon" src="{{ asset('/bundles/app/images/lock_icon.png') }}" style="width: 48px; margin-bottom: 20px;" />
        <h4 style="font-size: 24px; font-weight: 600; margin-bottom: 20px; color: #333;">Réinitialisation</h4>
        {% include "bundles/FOSUserBundle/views/Resetting/reset_content.html.twig" %}
    </div>
</div>
{% endblock %}
{% endembed %}
{% endblock fos_user_content %}
