{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
    <div>
        <input type="submit" value="Réinitialiser le mot de passe" class="btn btn-line-login"/>
    </div>
{{ form_end(form) }}
