{% extends "base.html.twig" %}

{% block breadcrumb_items %}
    <li>
        <span>Liste des appels à candidature</span>
    </li>
{% endblock %}

{% block title %}Liste des appels à candidature{% endblock %}

{% block body %}
<div class="white"> 
        <div class="container"> 
<div class="row top-profil">
        <!-- BEGIN MAIN CONTENT -->
        <div class=" col-sm-12 ">

            <div class="titre-page">
        <h1>Liste des appels à candidature</h1>
          
        </div>
    </div>
</div>

    <div id="listing-header" class="clearfix">
        <div class="row">
            <div class="col-sm-12 results-numbers">
                <h4>
                    {% include 'SpaceManagement/Partials/results_numbers.html.twig' with {'pagination' : pagination, 'label' : 'appels à candidature' } %}
                </h6>
            </div>
        </div>
    </div>

    {% if pagination | length == 0 %}
        <div class="no-results">
            <p>Vous n'avez aucun appel à gérer</p>
        </div>
    {% else %}
        <div id="property-listing" class="list-style clearfix management-list">
            <div class="row">
                {% for space in pagination %}
                    {% include 'SpaceManagement/Partials/space.html.twig' with {'space' : space, 'context' : 'manage_list' } %}
                {% endfor %}
            </div>
        </div>

        {{ knp_pagination_render(pagination) }}
    {% endif %}
    
    </div>
    </div>
{% endblock %}

