<div class="aac-color-legend" role="note" aria-label="Légende des couleurs des appels à candidatures">
    <ul class="aac-color-legend__items">
        <li class="aac-color-legend__item">
            <span class="aac-color-legend__dot aac-color-legend__dot--admin" aria-hidden="true"></span>
            <span>Appel à candidatures géré par Plateau Urbain</span>
        </li>
        <li class="aac-color-legend__item">
            <span class="aac-color-legend__dot aac-color-legend__dot--proprio" aria-hidden="true"></span>
            <span>Appel à candidatures proposé par un propriétaire</span>
        </li>
        <li class="aac-color-legend__item">
            <span class="aac-color-legend__dot aac-color-legend__dot--multi" aria-hidden="true"></span>
            <span>Appel à candidatures multi-sites (places vacantes dans les lieux Plateau Urbain)</span>
        </li>
    </ul>
</div>
