<html>
<body>
    <p>Bonjour,</p>

    <p>Votre candidature pour l'espace {{ space.name }} a bien été prise en compte.</p>

    <p>
        Vous serez prochainement contacté des suites de cette candidature.
    </p>

    <p>
        Cordialement,
    </p>
--<br />
L'équipe Plateau Urbain
</body>
