<p>Bonjour,</p>
<p>suite à votre pré-inscription en ligne, votre compte a été créé sur la plateforme Plateau Urbain.
Pour le valider, veuillez ouvrir le lien
<a href="{{ url }}">{{ url }}</a>
dans votre navigateur et choisir un mot de passe.</p>
<p>Vous pourrez utiliser ensuite votre adresse {{ email }}
et ce mot de passe pour vous identifier sur la
<a href="{{ rooturl }}">plateforme Plateau Urbain</a>.
<p>Bien cordialement,</p>
<p>l'équipe de Plateau Urbain<p>
