<p>Bonjour,</p>
<p>Vous avez demandé la réinitialisation du mot de passe de votre compte Plateau Urbain{% if user.email %} ({{ user.email }}){% endif %}.</p>
<p>Cliquez sur le lien ci-dessous pour choisir un nouveau mot de passe (lien valable {{ tokenLifetimeHours }} heures) :</p>
<p><a href="{{ resetUrl }}">{{ resetUrl }}</a></p>
<p>Si vous n'êtes pas à l'origine de cette demande, ignorez cet email.</p>
